@media  screen and (max-width:400px){
    
    .nav-container{
     flex-direction: column;
     align-items: center;
    }

    .nav-items-container{

     flex-direction: column;
       
    
    }
    
    .nav-items-container a{
    
    margin-top: 20px;
    }
    
    .banner-container{
        flex-direction: column;
    }
.banner-text, .banner-img{
    width: 100%;
}
.banner-text h1{
    font-size: 24px;
}

.banner-text h2{
    font-size: 42px;
}

.btn1, .btn2{
    display: inline-flex;
    padding: 10px 20px;
}





}