@media  screen and (max-width:424px){
    
    .nav-container{
     flex-direction: column;
     align-items: center;
    }

    .nav-items-container{

     flex-direction: column;
       
    
    }
    
    .nav-items-container a{
    
    margin-top: 20px;
    }
    
    .banner-container{
        flex-direction: column;
    }
.banner-text, .banner-img{
    width: 100%;
}
.banner-text h1{
    font-size: 24px;
}

.banner-text h2{
    font-size: 42px;
}

.btn1, .btn2{
    display: inline-flex;
    padding: 10px 20px;
}







.picture-container{
    flex-direction: column;
}

.picture-text{
width: 100%;
}

.picture-img{
width: 100%;
}


.games-container{
    flex-direction: column;
}

.single-game{
    flex-direction: column;
}

    #footer-section{
flex-direction: column;
    }

    .footer-section{
flex-direction: column;

    }

    .story{
        flex-direction: column;
    }

    #footer-section > .nav{
flex-direction: column;

}

.fam{
    flex-direction: column;
}

.policy{
    flex-direction: column;
}

.gamer{
    flex-direction: column;
}


}




@media screen and (max-width:768px) and (min-width:425px){
    .nav-container{
        flex-direction: column;
    }
}